{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "import",
        "compat"
    ],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolver": {
            "webpack": {
                "config": "./src/config/webpack/webpack.config.client.babel.js"
            }
        },
        "import/ignore": [
            "node_modules",
            ".(json|less|css|xml)$"
        ],
        "react": {
            "pragma": "React",
            "version": "15.0"
        },
        "polyfills": [
            "fetch"
        ]
    },
    "globals": {
        "ymaps": true,
        "grabber": true,
        "jasmine": true
    },
    "rules": {
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "compat/compat": 2,
        "no-restricted-imports": [1,  "lodash", "crypto"],
        "no-var": 0,
        "no-shadow": 1,
        "vars-on-top": 0,
        "consistent-return": 1,
        "no-unused-vars": [2, {"vars": "all", "args": "none", "varsIgnorePattern": "^React$"}],
        "no-cond-assign": [1, "always"],
        "default-case": 1,
        "no-use-before-define": 1,
        "one-var-declaration-per-line": 1,
        "no-confusing-arrow": 1,
        "arrow-body-style": 1,
        "prefer-arrow-callback": 1,
        "no-case-declarations": 1,
        "newline-per-chained-call": 1,
        "no-restricted-syntax": 1,
        "guard-for-in": 1,
        "no-mixed-operators": 0,
        "no-continue": 1, // включить
        "func-name-matching": 1, // включить
        "prefer-template": 1, // включить
        "no-useless-escape": 1, // включить
        "new-parens": 1,
        "class-methods-use-this": 1,
        "no-plusplus": [1, { "allowForLoopAfterthoughts": true }],
        "no-restricted-properties": 1, // включить
        "one-var": [
            1,
            "never"
        ],
        "max-len": [1, 160, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
        }], // включить до error
        "dot-location": [
            2,
            "property"
        ],
        "operator-linebreak": [
            2,
            "after",
            {
                "overrides": {
                    ">": "before",
                    ">=": "before",
                    "<": "before",
                    "<=": "before",
                    "||": "before",
                    "&&": "before",
                    "+": "before",
                    "-": "before"
                }
            }
        ],
        "max-statements": [
            2,
            15
        ],
        "max-depth": [
            1,
            2
        ],
        "complexity": [
            2,
            10
        ],
        "max-params": [
            1,
            3
        ],
        "max-nested-callbacks": [
            2,
            3
        ],
        "space-before-function-paren": [
            2,
            "never"
        ],
        "prefer-const": 1,
        "no-param-reassign": [
            1,
            {
                "props": false
            }
        ],
        // "no-console": 2,
        "curly": [
            2,
            "all"
        ],
        /*"comma-dangle": [
            2,
            "never"
        ],*/
        "func-style": [
            2,
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "newline-after-var": [
            2,
            "always"
        ],
        "new-cap": [
            2,
            {
                "capIsNewExceptions": [
                    "Nothing"
                ],
                "newIsCap": false
            }
        ],
        "no-unused-expressions": [
            2,
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "no-underscore-dangle": [
            2,
            {
                "allow": [
                    "_exception",
                    "__html"
                ]
            }
        ],
        "arrow-parens": [
            2,
            "as-needed",
            {
                "requireForBlockBody": false
            }
        ],
        "jsx-quotes": [
            2,
            "prefer-single"
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "jsx-a11y/img-has-alt": 1,
        "jsx-a11y/aria-role": 1,
        "jsx-a11y/label-has-for": 0, // включить, был баг в конфиге
        "jsx-a11y/href-no-hash": 1,
        "jsx-a11y/html-has-lang": 1,
        "jsx-a11y/no-static-element-interactions": 1,
        "jsx-a11y/anchor-has-content": 1,
        "react/no-array-index-key": 1,
        "react/require-default-props": 1,
        "react/style-prop-object": 0, // включить
        "react/jsx-first-prop-new-line": 1,
        "react/prefer-stateless-function": 1,
        "react/no-direct-mutation-state": 2,
        "react/jsx-key": 2,
        "react/no-find-dom-node": 1,
        // "react/require-optimization": [1, {"allowDecorators": ["pureRender"]}],
        "react/jsx-filename-extension": 0,
        "react/jsx-no-target-blank": 1,
        "react/no-children-prop": 0, // как починят, включить
        "react/forbid-prop-types": [
            2,
            {
                "forbid": ["any"]
            }
        ],
        "quote-props": [
            1,
            "consistent-as-needed"
        ],
        "react/prop-types": 2,
        "react/display-name": [
            1,
            {
                "ignoreTranspilerName": false
            }
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/no-multi-comp": [
            1,
            {
                "ignoreStateless": true
            }
        ],
        "react/jsx-handler-names": [
            1,
            {
                "eventHandlerPrefix": "handle",
                "eventHandlerPropPrefix": "on"
            }
        ],
        "react/jsx-max-props-per-line": [1, { "maximum": 3 }],
        "react/jsx-wrap-multilines": 0,
        "react/no-unused-prop-types": 1,
        "react/sort-comp": [
            2,
            {
                "order": [
                    "static-methods",
                    "mixins",
                    "displayName",
                    "actions",
                    "contextTypes",
                    "childContextTypes",
                    "propTypes",
                    "defaultProps",
                    "pure",
                    "statics",
                    "state",
                    "constructor",
                    "getDefaultProps",
                    "getInitialState",
                    "getChildContext",
                    "getStoresState",
                    "componentWillMount",
                    "componentDidMount",
                    "componentWillReceiveProps",
                    "shouldComponentUpdate",
                    "componentWillUpdate",
                    "componentDidUpdate",
                    "componentWillUnmount",
                    "/^component.+$/",
                    "/^get.+$/",
                    "/^on.+$/",
                    "/^handle.+$/",
                    "everything-else",
                    "/^render.+$/",
                    "render"
                ]
            }
        ],
        "import/no-unresolved": [
            2,
            {
                "commonjs": true,
                "amd": false
            }
        ],
        // "import/no-commonjs": 2,
        "import/export": 1,
        "import/named": 0,
        "import/namespace": 2,
        "import/default": 2,
        "import/prefer-default-export": 1,
        "import/newline-after-import": 0, // включить, как починят баг
        "import/unambiguous": 1,
        "import/imports-first": 1, // включить до error
        "import/no-webpack-loader-syntax": 1,
        "import/extensions": [1, "always", {
            "js": "never",
            "jsx": "always"
        }],
        "import/first": 1,
        // "import/no-dynamic-require": 1,
        "import/no-deprecated": 1,
        "import/no-extraneous-dependencies": 0, // нужно настроить для нас
        "yoda": ["error", "never", { "exceptRange": true }]
    }
}
